form {
    text-align: center;
    padding: 100px;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 12vh;
    background-image: url('https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}